<div class="row row-logo">
  <div class="medium-offset-1 medium-10 columns">
    <hr>
    <img class="logo" src="img/logos/01-nrcs.png">
    <img class="logo" src="img/logos/02-arc.png">
  </div>
</div>
